
body {
    background-image: url(../img/bg.jpeg);
}

.title {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 0;
    letter-spacing: 3px;
    color: aquamarine;
}


.button {
    display: inline-block;
    text-align: center;
    background-color:darkslateblue;
    color: #fff;
    border: 1px solid darkslateblue;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 15px;
    padding: 5px 35px;
    text-decoration: none;     
    font-size: 20px;
    width: auto;

}

.button:hover {
    background-color: #fff;
    color: darkslateblue;
    cursor: pointer;
}


div {
    text-align: center;
}
